flow_file/executeforecasting.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1747819563718,
    "description" : "Use NiFi to execute the bash script to activate python environment then execute the python script that wil load the model and preprocess data and make a forecasting. Then it will deactivate python environment. After this Processor It will load the flowfile into RouteOnContent which will capture the ExecuteProcess is success or not then it will alert to the user by email, Another one is UpdateAttribute which is update the filename then Use PutFile which will write the file into directory which will useful for user to see the log of error or success",
    "identifier" : "executeforecasting",
    "lastModifiedTimestamp" : 1747819563718,
    "name" : "execute_forecasting",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22bd540-0196-1000-0c70-d49135cec1ed",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "6d3de21e-39d8-3c2c-9b6c-0e6ec750b2cf",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "unmatched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22b66a5-0196-1000-986a-1ee41e415c04",
        "name" : "RouteOnContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22b8583-0196-1000-a95c-f714c313c461",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ee1c9fe2-24b0-37bd-a12c-a9c60747de54",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22aad67-0196-1000-28a7-f443453fa123",
        "name" : "ExecuteProcess",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22bf1cd-0196-1000-92ff-34f6f099412f",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "909515a3-cb1a-3eff-a56d-d120a084c883",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "is Fail" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22b66a5-0196-1000-986a-1ee41e415c04",
        "name" : "RouteOnContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22b66a5-0196-1000-986a-1ee41e415c04",
        "name" : "RouteOnContent",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "03bcf088-81c2-3349-af39-5f6efcbfd2ae",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22aad67-0196-1000-28a7-f443453fa123",
        "name" : "ExecuteProcess",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22babcc-0196-1000-cdae-c31677db5604",
        "name" : "PutEmail",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "ca157fa4-a51d-3cb2-a552-e0dabdd1aa03",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "isSuccess" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22b66a5-0196-1000-986a-1ee41e415c04",
        "name" : "RouteOnContent",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22c1f45-0196-1000-c149-c80ded2ee56a",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "219c26bc-9ea9-316c-9e3a-c5dbe4391237",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "f22b8583-0196-1000-a95c-f714c313c461",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "execute_forecasting",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f22babcc-0196-1000-cdae-c31677db5604",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -904.0,
        "y" : 512.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Sales Forecast Completed</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f6f8;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      background-color: #ffffff;\n      margin: 40px auto;\n      padding: 20px 30px;\n      max-width: 600px;\n      border-radius: 8px;\n      box-shadow: 0 0 10px rgba(0,0,0,0.05);\n    }\n    .header {\n      border-bottom: 1px solid #e0e0e0;\n      padding-bottom: 10px;\n      margin-bottom: 20px;\n    }\n    .header h2 {\n      color: #2c3e50;\n    }\n    .content p {\n      font-size: 16px;\n      color: #333333;\n      line-height: 1.5;\n    }\n    .footer {\n      border-top: 1px solid #e0e0e0;\n      margin-top: 30px;\n      padding-top: 15px;\n      font-size: 13px;\n      color: #888888;\n      text-align: center;\n    }\n    .btn {\n      display: inline-block;\n      background-color: #2ecc71;\n      color: white;\n      padding: 10px 20px;\n      text-decoration: none;\n      border-radius: 4px;\n      margin-top: 15px;\n    }\n    .meta {\n      background-color: #f9f9f9;\n      padding: 10px;\n      font-size: 14px;\n      border-left: 4px solid #2ecc71;\n      margin-top: 15px;\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>Sales Forecast Execution Completed ✅</h2>\n    </div>\n\n    <div class=\"content\">\n      <p>Dear Team,</p>\n\n      <p>We are pleased to inform you that the scheduled <strong>Sales Forecasting Job</strong> has been successfully executed via Apache NiFi.</p>\n\n      <div class=\"meta\">\n        <strong>Execution Time:</strong> ${now():format('yyyy-MM-dd')}<br>\n        <strong>Job ID:</strong> ${uuid} <br>\n        <strong>Status:</strong> <span style=\"color: green;\">Success</span>\n      </div>\n      <p>You may now proceed to review the forecasted results and take further actions as required.</p>\n\n      <a href=\"http://192.168.90.243:8088/superset/dashboard/p/rL69G2MDkQe/\" class=\"btn\">View Report</a>\n    </div>\n\n    <div class=\"footer\">\n      This is an automated notification from the Data Engineering Pipeline. For issues, contact <a href=\"mailto:neangrothmony@gmail.com\">Tech Support</a>.\n    </div>\n  </div>\n\n</body>\n</html>\n",
        "Attach File" : "false",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "587",
        "SMTP Auth" : "true",
        "From" : "neangrothmony@gmail.com",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "smtp.gmail.com",
        "Subject" : "Message from NiFi To Alert the Execution of the Forecasting",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/html",
        "SMTP Username" : "neangrothmony@gmail.com",
        "To" : "visalsom.de@gmail.com",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "true"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "Reply-To" : {
          "displayName" : "Reply-To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Reply-To",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f22c1f45-0196-1000-c149-c80ded2ee56a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 200.0,
        "y" : 512.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "/opt/nifi/nifi-current/forecasting/logs",
        "Conflict Resolution Strategy" : "fail"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f22b66a5-0196-1000-986a-1ee41e415c04",
      "maxBackoffPeriod" : "10 mins",
      "name" : "RouteOnContent",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -457.16678701180626,
        "y" : 268.83334973852965
      },
      "properties" : {
        "Content Buffer Size" : "1 MB",
        "Match Requirement" : "content must contain match",
        "is Fail" : "(?i)fail",
        "Character Set" : "UTF-8",
        "isSuccess" : "(?i)successfully"
      },
      "propertyDescriptors" : {
        "Content Buffer Size" : {
          "displayName" : "Content Buffer Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Buffer Size",
          "sensitive" : false
        },
        "Match Requirement" : {
          "displayName" : "Match Requirement",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Match Requirement",
          "sensitive" : false
        },
        "is Fail" : {
          "displayName" : "is Fail",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "is Fail",
          "sensitive" : false
        },
        "Character Set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Character Set",
          "sensitive" : false
        },
        "isSuccess" : {
          "displayName" : "isSuccess",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "isSuccess",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.RouteOnContent",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f22aad67-0196-1000-28a7-f443453fa123",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteProcess",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -232.0,
        "y" : 0.0
      },
      "properties" : {
        "Command" : "bash",
        "Redirect Error Stream" : "false",
        "Working Directory" : "/opt/nifi/nifi-current/forecasting",
        "Argument Delimiter" : " ",
        "Command Arguments" : "/opt/nifi/nifi-current/forecasting/execute_forecasting.sh"
      },
      "propertyDescriptors" : {
        "Command" : {
          "displayName" : "Command",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command",
          "sensitive" : false
        },
        "Redirect Error Stream" : {
          "displayName" : "Redirect Error Stream",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Redirect Error Stream",
          "sensitive" : false
        },
        "Working Directory" : {
          "displayName" : "Working Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Working Directory",
          "sensitive" : false
        },
        "Output MIME type" : {
          "displayName" : "Output MIME Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output MIME type",
          "sensitive" : false
        },
        "Argument Delimiter" : {
          "displayName" : "Argument Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Argument Delimiter",
          "sensitive" : false
        },
        "Batch Duration" : {
          "displayName" : "Batch Duration",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Duration",
          "sensitive" : false
        },
        "Command Arguments" : {
          "displayName" : "Command Arguments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Command Arguments",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 0 0 1 * ? ",
      "schedulingStrategy" : "CRON_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ExecuteProcess",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f22b8583-0196-1000-a95c-f714c313c461",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 3.8332129881937362,
        "y" : 265.83334973852965
      },
      "properties" : {
        "filename" : "execute_forecastiing_${now():format('yyyyMMdd_HHmmss')}.log",
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "filename" : {
          "displayName" : "filename",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "filename",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f22bf1cd-0196-1000-92ff-34f6f099412f",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutEmail",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -224.0,
        "y" : 512.0
      },
      "properties" : {
        "SMTP Socket Factory" : "javax.net.ssl.SSLSocketFactory",
        "Message" : "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Sales Forecast Failed</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f6f8;\n      margin: 0;\n      padding: 0;\n    }\n    .container {\n      background-color: #ffffff;\n      margin: 40px auto;\n      padding: 20px 30px;\n      max-width: 600px;\n      border-radius: 8px;\n      box-shadow: 0 0 10px rgba(0,0,0,0.05);\n    }\n    .header {\n      border-bottom: 1px solid #e0e0e0;\n      padding-bottom: 10px;\n      margin-bottom: 20px;\n    }\n    .header h2 {\n      color: #c0392b;\n    }\n    .content p {\n      font-size: 16px;\n      color: #333333;\n      line-height: 1.5;\n    }\n    .footer {\n      border-top: 1px solid #e0e0e0;\n      margin-top: 30px;\n      padding-top: 15px;\n      font-size: 13px;\n      color: #888888;\n      text-align: center;\n    }\n    .btn {\n      display: inline-block;\n      background-color: #e74c3c;\n      color: white;\n      padding: 10px 20px;\n      text-decoration: none;\n      border-radius: 4px;\n      margin-top: 15px;\n    }\n    .meta {\n      background-color: #fdf2f2;\n      padding: 10px;\n      font-size: 14px;\n      border-left: 4px solid #e74c3c;\n      margin-top: 15px;\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>Sales Forecast Execution Failed ❌</h2>\n    </div>\n\n    <div class=\"content\">\n      <p>Dear Team,</p>\n\n      <p>We regret to inform you that the scheduled <strong>Sales Forecasting Job</strong> has <strong>failed</strong> during execution via Apache NiFi.</p>\n\n      <div class=\"meta\">\n        <strong>Execution Time:</strong> ${now():format('yyyy-MM-dd')}$<br>\n        <strong>Job ID:</strong> ${uuid} <br>\n        <strong>Status:</strong> <span style=\"color: red;\">Failed</span>\n      </div>\n      <p>Please review the error logs or contact technical support for further investigation and resolution.</p>\n\t  <a href=\"mailto:tech-support@example.com\" class=\"btn\">Contact Support</a>\n    </div>\n\n    <div class=\"footer\">\n      This is an automated notification from the Data Engineering Pipeline. If you believe this was sent in error, please contact <a href=\"mailto:neangrothmony@.com\">Tech Support</a>.\n    </div>\n  </div>\n\n</body>\n</html>\n",
        "Attach File" : "false",
        "input-character-set" : "UTF-8",
        "SMTP Port" : "587",
        "SMTP Auth" : "true",
        "From" : "neangrothmony@gmail.com",
        "Include All Attributes In Message" : "false",
        "SMTP Hostname" : "smtp.gmail.com",
        "Subject" : "Message from NiFi To Alert the Execution of the Forecasting",
        "SMTP X-Mailer Header" : "NiFi",
        "Content Type" : "text/html",
        "SMTP Username" : "neangrothmony@gmail.com",
        "To" : "visalsom.de@gmail.com",
        "email-ff-content-as-message" : "false",
        "authorization-mode" : "password-based-authorization-mode",
        "SMTP TLS" : "true"
      },
      "propertyDescriptors" : {
        "CC" : {
          "displayName" : "CC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CC",
          "sensitive" : false
        },
        "Reply-To" : {
          "displayName" : "Reply-To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Reply-To",
          "sensitive" : false
        },
        "SMTP Socket Factory" : {
          "displayName" : "SMTP Socket Factory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Socket Factory",
          "sensitive" : false
        },
        "BCC" : {
          "displayName" : "BCC",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "BCC",
          "sensitive" : false
        },
        "Message" : {
          "displayName" : "Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message",
          "sensitive" : false
        },
        "Attach File" : {
          "displayName" : "Attach File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attach File",
          "sensitive" : false
        },
        "attribute-name-regex" : {
          "displayName" : "Attributes to Send as Headers (Regex)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attribute-name-regex",
          "sensitive" : false
        },
        "input-character-set" : {
          "displayName" : "Input Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "input-character-set",
          "sensitive" : false
        },
        "SMTP Port" : {
          "displayName" : "SMTP Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Port",
          "sensitive" : false
        },
        "SMTP Auth" : {
          "displayName" : "SMTP Auth",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Auth",
          "sensitive" : false
        },
        "From" : {
          "displayName" : "From",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "From",
          "sensitive" : false
        },
        "Include All Attributes In Message" : {
          "displayName" : "Include All Attributes In Message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include All Attributes In Message",
          "sensitive" : false
        },
        "SMTP Hostname" : {
          "displayName" : "SMTP Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Hostname",
          "sensitive" : false
        },
        "Subject" : {
          "displayName" : "Subject",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Subject",
          "sensitive" : false
        },
        "SMTP X-Mailer Header" : {
          "displayName" : "SMTP X-Mailer Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP X-Mailer Header",
          "sensitive" : false
        },
        "oauth2-access-token-provider" : {
          "displayName" : "OAuth2 Access Token Provider",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "oauth2-access-token-provider",
          "sensitive" : false
        },
        "Content Type" : {
          "displayName" : "Content Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Content Type",
          "sensitive" : false
        },
        "SMTP Username" : {
          "displayName" : "SMTP Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Username",
          "sensitive" : false
        },
        "To" : {
          "displayName" : "To",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "To",
          "sensitive" : false
        },
        "SMTP Password" : {
          "displayName" : "SMTP Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP Password",
          "sensitive" : true
        },
        "email-ff-content-as-message" : {
          "displayName" : "Flow file content as message",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "email-ff-content-as-message",
          "sensitive" : false
        },
        "authorization-mode" : {
          "displayName" : "Authorization Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "authorization-mode",
          "sensitive" : false
        },
        "SMTP TLS" : {
          "displayName" : "SMTP STARTTLS",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "SMTP TLS",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutEmail",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f22bd540-0196-1000-0c70-d49135cec1ed",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -648.0,
        "y" : 696.0
      },
      "properties" : {
        "Log prefix" : "the RouteOnContent Processor in NiFi not matched.",
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "executeforecasting",
    "timestamp" : 0
  }
}